.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "chore due status";
  }
  
  .chore { grid-area: chore; }
  
  .due { grid-area: due; }

  .status { grid-area: status; }

